@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  src: local('Istok Web Regular'), local('IstokWeb-Regular'), url(http://fonts.gstatic.com/s/istokweb/v8/-i4CkQRnTrQUASpkOzB5JltXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/istokweb/v8/-i4CkQRnTrQUASpkOzB5Jj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
